m3uCrawler/bin/
m3uCrawler/obj/
m3uCrawler/output/
**/output/

.git/
.gitignore
.github/
.dockerignore
Dockerfile
commit-and-push-main.ps1
docker-compose.yml
README.md
CHANGELOG.md
CONTRIBUTING.md
LICENSE
STREAM_LIMIT_GUIDE.md
wtelegram.config
**/session.dat
**/WTelegram.session
*.user
*.suo
*.tmp
*.log
